* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2em;
  padding-top: 10vh;
}

.page > h1 {
  text-align: center;
  color: darkcyan;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2.5rem;
}

.profile-img {
  align-self: center;
  width: 50%;
  border-radius: 50%;
  border: 3px solid black;
}

.button-link {
  display: block;
  width: 100%;
  background-color: bisque;
  padding: 1.5em;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1em;
}

.button-link:hover {
  background-color: antiquewhite;
}

.button-link:focus {
  background-color: azure;
}

a.button-link {
  color: black;
  text-decoration: none;
}

a.button-link:hover {
  text-decoration: underline;
}
