@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*,*::before,*::after {
  box-sizing: border-box;
}

$dark-blue: #173d62;
$main-blue: #478fd4;
$light-blue: #8ab7e3;
$orange: #ff902e;
$light-orange: #e3cb8a;
$black: #000;
$white: #fff;
$grey: #ccc;
$light-grey: #f0f0f0;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: $orange;

  &:hover {
    text-decoration: underline;
  }
}

@mixin mdb-landscape() {
  @media screen and (max-height: 500px) {
    @content
  }
}

@mixin mdb-xs() {
  @media screen and (min-width: 480px) {
    @content
  }
}

@mixin mdb-sm() {
  @media screen and (min-width: 600px) {
    @content
  }
}

@mixin mdb-md() {
  @media screen and (min-width: 720px) {
    @content
  }
}

@mixin mdb-lg() {
  @media screen and (min-width: 1024px) {
    @content
  }
}

@mixin mdb-xl() {
  @media screen and (min-width: 1280px) {
    @content
  }
}

@mixin px($padding) {
  padding-left: #{$padding};
  padding-right: #{$padding};
}

@mixin mx($margin) {
  margin-left: #{$margin};
  margin-right: #{$margin};
}

@mixin tag($bg-color) {
  background-color: #{$bg-color};
  padding: .25em .66em;
  margin-left: .5em;
  border-radius: 1em;
  font-size: .875rem;
} 

.title {
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}

%anim-up-down {
  animation-name: move-down-up;
  animation-iteration-count: infinite;
  animation-duration: 1.25s;

  @keyframes move-down-up {
    0%, 100% {
      transform: translateY(0);
    }
  
    60% {
      transform: translateY(5px);
    }
  
    90% {
      transform: translateY(-2px);
    }
  }
}
