@use 'base' as b;

.down-arrow svg {
  transform: rotate(90deg);
}

.menu-inline {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  font-size: 1.25rem;

  .menu-item {
    padding: 0 .33em;
    transition: transform .3s ease-out;

    &:hover, &:active {
      transform: scale(1.1);
    }
  }

  .menu-link {
    text-decoration: none;
    color: b.$main-blue;
    transition: color .3s ease-out;

    &:hover, &:active {
      color: b.$dark-blue;
    }
  }
}

.card {
  background-color: b.$dark-blue;
  color: b.$light-grey;
  font-weight: 500;
  position: relative;

  &-img {
    width: 100%;
  }

  &-title {
    padding: .75em;
  }

  &-tags {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: .5em;
    
    & > .tag {
      @include b.tag(rgba(b.$black, .5))
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: hidden;

  &.modal-full {
    width: 100vw;
    height: 100vh;
    background-color: b.$white;
  }

  .modal-inner {
    width: 100%;
    background-color: b.$white;
  }

  .modal-header {
    border-bottom: 1px solid b.$light-grey;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    
    .close {
      padding: .75em;
      text-align: right;
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }
  }

  .modal-content {
    padding: 1em;
    width: 100%;
    max-height: 93vh;
    overflow-y: auto;
    
    @include b.mdb-landscape() {
      max-height: 87vh;
      display: grid;
      grid-template-areas:
        "title title"
        "screenshot text"
        "tag text";
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 50% 50%;
      grid-gap: .5em;
    }

    & > *:nth-child(n+2) {
      margin-top: 1em;

      @include b.mdb-landscape() {
        margin-top: initial;
      }
    }
    
    .modal-title {
      @include b.mdb-landscape() {
        grid-area: title;
      }

      & > h1 {
        margin-top: 0;
      }
    }
    
    .modal-img-group {
      position: relative;
      grid-area: screenshot;

      & > .modal-img {
        width: 100%;
        border-radius: .875em;
      }
    }

    .modal-tags {
      text-align: center;
      grid-area: tag;

      & > .tag {
        @include b.tag(b.$light-blue);
      }
    }

    .modal-text {
      @include b.mdb-landscape() {
        grid-area: text;

        & > p {
          margin-top: 0;
        }
      }
    }
  }
}

.external-link {
  position: absolute;
  padding: .875em;
  bottom: 0;
  right: 0;
  color: b.$black;
  text-decoration: none;
  
  &:hover, &:visited {
    color: b.$black;
  }
}
