@use 'base' as b;

.down-arrow svg {
  transform: rotate(90deg);
}

.menu-inline {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  font-size: 1.25rem;

  .menu-item {
    padding: 0 .33em;
    transition: transform .3s ease-out;

    &:hover, &:active {
      transform: scale(1.1);
    }
  }

  .menu-link {
    text-decoration: none;
    color: b.$main-blue;
    transition: color .3s ease-out;

    &:hover, &:active {
      color: b.$dark-blue;
    }
  }
}

.card {
  background-color: b.$dark-blue;
  color: b.$light-grey;
  font-weight: 500;
  position: relative;

  &-img {
    width: 100%;
  }

  &-title {
    padding: .75em;
  }

  &-tags {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: .5em;
    
    & > .tag {
      background-color: rgba(b.$black, .5);
      padding: .25em .66em;
      margin-left: .5em;
      border-radius: 1em;
      font-size: .875rem;
    }
  }
}