/** ===== RESETS ===== **/
*,
*::before,
*::after{box-sizing:border-box;}a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}
html, body { padding: 0; margin: 0;}
textarea { resize: none; }

/** ===== SOME DEFAULTS & UTILITIES ===== **/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300;400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

form {
  .required {
    color: red;
    font-size: .75rem;
    vertical-align: super;
  }
}

.no-scroll {
  overflow-y: hidden;
}

/** ===== VARIABLES ===== **/
$navbar-height: 6vh;

$mb-sm: 576px;
$mb-xmd: 640px;
$mb-md: 768px;
$mb-lg: 992px;
$mb-xl: 1200px;

/** ===== MIXINS ===== **/
@mixin arrow-direction($direction) {
  @if $direction == 'left' {
    transform: rotate(-45deg);
  } @else if $direction == 'right' {
    transform: rotate(135deg);
  }
}

@mixin media-breakpoint($min-width, $max-height: 0) {
  @if $max-height != 0 {
    @media screen and (min-width: #{$min-width}) and (max-height: #{$max-height}) {
      @content
    }
  } @else {
    @media screen and (min-width: #{$min-width}) {
      @content
    }
  }
}