.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 1.5rem;
  height: 1rem;
  right: 5%;
  z-index: 150;

  &:active {
    transform: scale(1.1);
  }

  & > .bar {
    background-color: black;
    width: 1.5rem;
    height: .15rem;
    border-radius: .15rem;
    transform-origin: left;
    transition: all .33s ease-out;
  }

  &.active {
    & > .bar:nth-child(1) {
      transform: rotate(35deg);
    }

    & > .bar:nth-child(2) {
      opacity: 0;
    }

    & > .bar:nth-child(3) {
      transform: rotate(-35deg);
    }
  }
}