/** ===== RESETS ===== **/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300;400&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

html, body {
  padding: 0;
  margin: 0;
}

/** ===== SOME DEFAULTS & UTILITIES ===== **/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

form .required {
  color: red;
  font-size: .75rem;
  vertical-align: super;
}

.no-scroll {
  overflow-y: hidden;
}

/** ===== VARIABLES ===== **/
/** ===== MIXINS ===== **/
#navbar {
  height: 6vh;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar .hamburger {
  position: fixed;
}

.navbar-collapse {
  height: 100vh;
  width: 100vw;
  background-color: rgba(242, 242, 242, 0.93);
  position: fixed;
  opacity: 0;
  z-index: -1;
}

.navbar-collapse.show {
  opacity: 1;
  z-index: 100;
}

main > section {
  height: 100vh;
}

main > section:first-child {
  height: 94vh;
}

main > section .section-title {
  text-align: center;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

main > section .description {
  margin: 1em 0;
  font-size: 1.3rem;
  line-height: 1.4;
  text-align: center;
  padding: .5em;
}

#projects {
  background: teal;
}

#projects .container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .projects-slider {
  position: relative;
  width: inherit;
  height: inherit;
  padding: .5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#projects .slider-controls {
  position: absolute;
  top: 15%;
  left: 7.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
}

#projects .slider-controls > .arrow {
  cursor: pointer;
  z-index: 1;
}

#projects .slider-item .project-img {
  position: relative;
}

#projects .slider-item .project-img .project-popup {
  position: absolute;
  font-size: 1.5rem;
  text-align: right;
  bottom: 0;
  right: 0;
  padding: .5em;
}

#projects .slider-item .project-description {
  margin-top: 1em;
}

#projects .slider-item .project-description > p {
  margin-bottom: 1em;
}

#projects .slider-item .project-technologies ol {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(95px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
  grid-gap: .25em .25em;
}

#projects .slider-item .project-technologies li {
  background-color: white;
  text-align: center;
  padding: .1em;
  font-size: .85em;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  width: 1.5rem;
  height: 1rem;
  right: 5%;
  z-index: 150;
}

.hamburger:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hamburger > .bar {
  background-color: black;
  width: 1.5rem;
  height: .15rem;
  border-radius: .15rem;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all .33s ease-out;
  transition: all .33s ease-out;
}

.hamburger.active > .bar:nth-child(1) {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.hamburger.active > .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active > .bar:nth-child(3) {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.arrow {
  border-top: 0.33rem solid black;
  border-left: 0.33rem solid black;
  width: 30px;
  height: 30px;
}

.arrow[data-move="left"] {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow[data-move="right"] {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.arrow:disabled {
  border-color: rgba(0, 0, 0, 0.5);
}

.slider-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-inner .slider-item {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.slider-inner .slider-item.left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slider-inner .slider-item.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.socials {
  width: 100%;
}

.socials > .socials-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials > .socials-menu .menu-item {
  margin: 0 .25em;
  font-size: 1.1rem;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.socials > .socials-menu .menu-item:hover, .socials > .socials-menu .menu-item:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #1a1a1a;
}
