/** ===== RESETS ===== **/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300;400&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

html, body {
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

/** ===== SOME DEFAULTS & UTILITIES ===== **/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

form .required {
  color: red;
  font-size: .75rem;
  vertical-align: super;
}

.no-scroll {
  overflow-y: hidden;
}

.no-scroll main {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

/** ===== VARIABLES ===== **/
/** ===== MIXINS ===== **/
#navbar {
  height: 6vh;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar .hamburger {
  position: fixed;
}

@media screen and (min-width: 576px) and (min-height: 500px) {
  #navbar .hamburger {
    display: none;
  }
}

#navbar .navbar-normal {
  display: none;
}

@media screen and (min-width: 576px) and (min-height: 500px) {
  #navbar .navbar-normal {
    display: block;
  }
}

#navbar .navbar-normal .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .navbar-normal .menu > .menu-item {
  padding: 0 .5em;
  font-size: 1.2rem;
}

.navbar-collapse {
  height: 100vh;
  width: 100vw;
  background-color: rgba(242, 242, 242, 0.8);
  position: fixed;
  opacity: 0;
  z-index: -1;
}

@media screen and (min-width: 576px) and (min-height: 500px) {
  .navbar-collapse {
    display: none;
  }
}

.navbar-collapse.show {
  opacity: 1;
  z-index: 100;
}

.navbar-collapse .container {
  height: 40%;
  min-height: 230px;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 7vh;
}

.navbar-collapse .container nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar-collapse .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5em;
}

.navbar-collapse .menu .menu-item {
  display: block;
  display: block;
  font-size: 1.5rem;
  padding: .5em 0 .5em 1em;
  margin-right: .75em;
  text-align: right;
  font-weight: 400;
}

.navbar-collapse .menu .menu-item > .menu-link {
  padding: .5em 0 .5em .5em;
}

.navbar-collapse .socials {
  padding-bottom: 1em;
}

main > section {
  height: 100vh;
}

main > section:first-of-type {
  height: 94vh;
}

main > section > .container {
  overflow: hidden;
}

main > section .section-title {
  text-align: center;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

@media screen and (min-width: 500px) and (max-height: 500px) {
  main > section .section-title > h1 {
    margin: 0.45em 0;
  }
}

main > section .description {
  margin: 1em 0;
  font-size: 1.3rem;
  line-height: 1.4;
  text-align: center;
  padding: .5em;
}

@media screen and (min-width: 576px) and (min-height: 500px) {
  main > section .description {
    max-width: 550px;
  }
}

#about .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 500px) and (max-height: 500px) {
  #about .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 20%;
        grid-template-rows: 1fr 20%;
    margin: 0 auto;
    width: 85%;
    justify-items: center;
    padding: 1em 0 1.5em 0;
    grid-gap: .5em;
  }
  #about .container .section-title {
    display: none;
  }
  #about .container .profile-picture {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    height: 100%;
  }
  #about .container .profile-picture > img {
    height: 100%;
    max-width: 300px;
    max-height: 354.4px;
  }
  #about .container .socials {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

#about .section-title > h1 {
  margin: .5em 0;
}

#about .profile-picture > img {
  height: 45vh;
}

#projects {
  background: lightseagreen;
}

#projects .container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .projects-carousel {
  position: relative;
  width: inherit;
  height: inherit;
  padding: .5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#projects .carousel-controls {
  position: absolute;
  top: 15%;
  left: 7.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
}

#projects .carousel-controls > .arrow {
  cursor: pointer;
  z-index: 1;
}

#projects .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 500px) and (max-height: 500px) {
  #projects .carousel-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 57%;
        grid-template-columns: 40% 57%;
    -ms-grid-rows: 60% 40%;
        grid-template-rows: 60% 40%;
    justify-items: center;
    grid-gap: 1em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

#projects .carousel-item .project-img {
  position: relative;
}

@media screen and (min-width: 576px) and (min-height: 500px) {
  #projects .carousel-item .project-img {
    width: 85%;
  }
}

@media screen and (min-width: 500px) and (max-height: 500px) {
  #projects .carousel-item .project-img {
    width: 100%;
  }
}

#projects .carousel-item .project-img .project-popup {
  position: absolute;
  font-size: 1.5rem;
  text-align: right;
  bottom: 0;
  right: 0;
  padding: .5em;
}

#projects .carousel-item .project-description {
  margin-top: 1em;
}

@media screen and (min-width: 576px) and (min-height: 500px) {
  #projects .carousel-item .project-description {
    width: 85%;
  }
}

@media screen and (min-width: 500px) and (max-height: 500px) {
  #projects .carousel-item .project-description {
    width: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-top: 0;
  }
}

#projects .carousel-item .project-description > p {
  margin-bottom: 1em;
}

#projects .carousel-item .project-technologies {
  width: 100%;
}

@media screen and (min-width: 576px) and (min-height: 500px) {
  #projects .carousel-item .project-technologies {
    width: 85%;
    margin-top: 1em;
  }
}

@media screen and (min-width: 500px) and (max-height: 500px) {
  #projects .carousel-item .project-technologies {
    width: 100%;
    margin-top: 0;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

#projects .carousel-item .project-technologies ol {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(95px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
  grid-gap: .25em .25em;
}

#projects .carousel-item .project-technologies li {
  background-color: white;
  text-align: center;
  padding: .1em;
  font-size: .85em;
}

#projects .carousel-item .project-technologies li .tag {
  display: block;
}

#contact .container {
  height: 100%;
  position: relative;
}

@media screen and (min-width: 576px) and (min-height: 500px) {
  #contact .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#contact .description {
  margin-top: 0;
  padding-top: 10vh;
}

#contact .description > p {
  margin-bottom: 1em;
}

#contact .background-image {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -ms-flex-item-align: start;
      align-self: flex-start;
  bottom: 5vh;
  z-index: -1;
  position: absolute;
}

#contact .contact-arrow {
  font-size: 1.2rem;
  margin-right: 1em;
  padding: .75em 0;
  cursor: pointer;
  word-spacing: 99999999px;
  position: absolute;
  right: 0;
  bottom: 5vh;
  z-index: 1;
}

#contact .contact-arrow button {
  width: min-intrinsic;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: table-caption;
  display: -ms-grid;
  -ms-grid-columns: min-content;
}

#contact .contact-arrow button .arrow-form {
  display: none;
}

#contact .contact-arrow[data-state="closed"] .arrow-form.open {
  display: inline;
}

#contact .contact-arrow[data-state="opened"] .arrow-form.close {
  display: inline;
}

@media screen and (min-width: 576px) and (min-height: 500px) {
  #contact .contact-arrow {
    display: none;
  }
}

#contact .contact-form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  display: none;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  background-color: white;
  padding-top: 2em;
}

@media screen and (min-width: 576px) and (min-height: 500px) {
  #contact .contact-form {
    display: block;
    -webkit-transform: translate(0);
            transform: translate(0);
    position: static;
  }
}

#contact .contact-form.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contact-form.active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

#contact .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

@media screen and (min-width: 576px) and (min-height: 500px) {
  #contact .contact-form form {
    max-width: 400px;
  }
}

#contact .contact-form form.was-validated .form-control:invalid {
  border: 1px solid red;
}

#contact .contact-form form.was-validated .form-control:invalid + .invalid-feedback {
  display: block;
}

#contact .contact-form form .form-item {
  margin-bottom: .75em;
}

#contact .contact-form form .form-control {
  display: block;
  width: 100%;
  margin-top: .5em;
  border: 1px solid lightgrey;
  padding: .5em;
  border-radius: .33em;
}

#contact .contact-form form .form-control:focus {
  border: 1px solid lightskyblue;
}

#contact .contact-form form .invalid-feedback {
  display: none;
  font-size: .8rem;
  color: red;
  margin-top: .5em;
}

#contact .contact-form form button[type="submit"] {
  width: 100%;
  padding: .75em 0;
  background-color: lightgreen;
  border-radius: .25em;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  width: 1.5rem;
  height: 1rem;
  right: 5%;
  z-index: 150;
}

.hamburger:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hamburger > .bar {
  background-color: black;
  width: 1.5rem;
  height: .15rem;
  border-radius: .15rem;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all .33s ease-out;
  transition: all .33s ease-out;
}

.hamburger.active > .bar:nth-child(1) {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.hamburger.active > .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active > .bar:nth-child(3) {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.arrow {
  border-top: 0.33rem solid black;
  border-left: 0.33rem solid black;
  width: 30px;
  height: 30px;
}

.arrow[data-move="left"] {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow[data-move="right"] {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.arrow:disabled {
  border-color: rgba(0, 0, 0, 0.5);
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-inner .carousel-item {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.carousel-inner .carousel-item.left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.carousel-inner .carousel-item.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.socials {
  width: 100%;
}

.socials > .socials-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials > .socials-menu .menu-item {
  margin: 0 .25em;
  font-size: 1.1rem;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.socials > .socials-menu .menu-item:hover, .socials > .socials-menu .menu-item:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #1a1a1a;
}
